<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="assets :: head('RankStar')"></head>
<body class="bg-dark">
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-xs-12 p-0 bg-light min-vh-100">
            <div th:replace="assets :: leftNav('Add New Member')"></div>
            <div class="container-fluid">
                <a href="/index.html">< Return to Main</a>
                <form th:action="@{${action}}" method="post" th:object="${person}" class="container">
                    <h2>Profile Image</h2>
                    <hr/>
                    <div class="form-row row">
                        <div class="col s12 l8">
                            <div class="file-wrapper">
                                <input type="file" id="file" name="file"/>
                                <span class="placeholder" data-placeholder="Choose an image...">Choose an image...</span>
                                <label for="file" class="button">Browse</label>
                            </div>
                        </div>
                    </div>
                    <h2>General Information</h2>
                    <hr/>
                    <div class="form-row row">
                        <div class="col-md-4 mb-3">
                            <label for="fnf">First name</label>
                            <input type="text" class="form-control" id="fnf" th:field="*{firstName}"
                                   placeholder="First name" required>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="lnf">Last name</label>
                            <input type="text" class="form-control" id="lnf" th:field="*{lastName}"
                                   placeholder="Last name" required>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="mnf">Middle name</label>
                            <input type="text" class="form-control" id="mnf"
                                   th:field="*{middleName}" placeholder="Middle name">
                        </div>
                    </div>
                    <div class="form-row row">
                        <div class="col-md-4 mb-3">
                            <label for="bf">Birthday</label>
                            <input id="bf" type="text" th:field="*{birthday}" placeholder="mm/dd/yyyy" class="form-control"/>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="sp">Sexuality</label>
                            <select th:field="*{sexuality}" id="sp" class="form-control">
                                <option value="" disabled="disabled">Select a sexuality</option>
                                <option value="Heterosexual" text="Heterosexual">Heterosexual</option>
                                <option value="Homosexual" text="Homosexual">Homosexual</option>
                                <option value="Bisexual" text="Bisexual">Bisexual</option>
                                <option value="Other" text="Other">Other</option>
                            </select>
                        </div>
                        <div class="col-md-2 mb-3">
                            <label for="sxp">Sex</label>
                            <select th:field="*{sex}" id="sxp" class="form-control">
                                <option value="" disabled="disabled">Select a sex</option>
                                <option value="Male" text="Male">Male</option>
                                <option value="Female" text="Female">Female</option>
                                <option value="Other" text="Other">Other</option>
                            </select>
                        </div>
                        <div class="col-md-2 mb-3">
                            <label for="mbpf">MBP</label>
                            <input type="text" th:field="*{mbp}" placeholder="mbp" id="mbpf" class="form-control"/>
                        </div>
                    </div>
                    <h2>Relationship Details</h2>
                    <hr/>
                    <div class="form-row row">
                        <div class="col-md-4 mb-3">
                            <label for="ymf">Year Met</label>
                            <input type="text" th:field="*{yearMet}" placeholder="Enter Year" id="ymf" class="form-control"/>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="statp">Status</label>
                            <select th:field="*{status}" id="statp" class="form-control">
                                <option value="" disabled="disabled">Select a status</option>
                                <option value="Active" text="Active">Active</option>
                                <option value="Inactive" text="Inactive">Inactive</option>
                                <option value="HOLD" text="HOLD">HOLD</option>
                            </select>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="pmf">Place Met</label>
                            <input type="text" th:field="*{placeMet}" placeholder="" id="pmf" class="form-control"/>
                        </div>
                    </div>
                    <h2>Description</h2>
                    <hr/>
                    <div class="form-row row">
                        <div class="col mb-3">
                            <textarea type="text" th:field="*{description}" placeholder="Description" class="form-control"/>
                        </div>
                    </div>
                    <input type="hidden" th:field="*{id}"/>
                    <button type="submit" th:text="${submit}" class="btn btn-secondary"></button>
                </form>
            </div>

        </div>
        <div class="col-lg-6 col-xs-12 p-0 min-vh-100 tiledLogoBackground d-none d-lg-block">
            <div th:replace="assets :: rightNavLoggedIn"></div>
        </div>
    </div>
</div>
<div th:replace="assets :: scripts"></div>
</body>
</html>