<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="assets :: head('Edit Timeline')"></head>
<body class="bg-dark">
<div class="container-fluid mb-3">
    <div class="row">
        <div class="col-lg-6 col-xs-12 p-0 bg-light">
            <div th:replace="assets :: leftNav('Interpersonal Relationship Management')"></div>
        </div>
        <div class="col-lg-6 col-xs-12 p-0 logoBackground d-none d-lg-block">
            <div th:replace="assets :: rightNavLoggedIn"></div>
        </div>
    </div>
</div>

<div th:each="point : ${timeline}" class="container">
    <div class="card">
        <div class="card-body">
            <h4 th:text="*{point.date}" class="card-title"></h4>
            <p class="card-text" th:text="*{point.value}"></p>
        </div>
    </div>
</div>

<form th:action="@{${action}}" method="post" th:object="${score}" class="container-fluid mb-5">
    <input type="text" th:field="*{date}" placeholder="mm/dd/yyyy" class="form-control"/>
    <input type="text" th:field="*{value}" placeholder="value" class="form-control"/>
    <input type="text" th:field="*{note}" placeholder="note" class="form-control"/>
    <input type="text" th:field="*{momentum}" placeholder="momentum" class="form-control"/>

    <button type="submit" class="btn btn-secondary">Save</button>
</form>

<footer class="fixed-bottom">
    <div th:replace="assets :: flash"></div>
    <div class="scrollmenu">
        <a th:each="member : ${members}" th:href="@{|/RankStar/Members/${member.id}|}" th:text="${member.firstName} + ' ' + ${member.lastName}"></a>
    </div>
</footer>
<div th:replace="assets :: scripts"></div>
</body>
</html>