<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="assets :: head('Edit Member')"></head>
<body class="gradientBackground">
<div class="container-fluid mb-3">
    <div class="row">
        <div class="col-lg-6 col-xs-12 p-0 bg-light">
            <div th:replace="assets :: leftNav('Interpersonal Relationship Management')"></div>
        </div>
        <div class="col-lg-6 col-xs-12 p-0 logoBackground d-none d-lg-block">
            <div th:replace="assets :: rightNavLoggedIn"></div>
        </div>
    </div>
</div>

<!-- Content Body -->
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-3">
            <div class="container-fluid p-0">
                <img class="img-fluid" th:src="@{${member.photosImagePath}}">
            </div>
            <div class="text-center container-fluid">
                <h2 class="text-white"
                    th:text="${member.firstName} + ' ' + ${member.lastName}"></h2>
                <p class="text-light" th:text="${member.relationship}"></p>
            </div>
        </div>
        <div class="col-lg-9 p-0">
            <div class="ml-lg-2">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab"
                           aria-controls="home" aria-selected="true">Overview</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact"
                           role="tab" aria-controls="Contact" aria-selected="false">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="medical-tab" data-toggle="tab" href="#medical"
                           role="tab" aria-controls="Medical" aria-selected="false">Medical</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="giftIdeas-tab" data-toggle="tab" href="#giftIdeas"
                           role="tab" aria-controls="Gift Ideas" aria-selected="false">Gift
                            Ideas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="cScore-tab" data-toggle="tab" href="#cScore"
                           role="tab" aria-controls="cScore" aria-selected="false">cScore</a>
                    </li>
                </ul>
                <div class="tab-content bg-light py-4 px-4 mb-5" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel"
                         aria-labelledby="home-tab">
                        <form th:action="@{${generalAction}}" method="post" th:object="${member}"
                              class="container-fluid" enctype="multipart/form-data">

                            <h2 class="mt-0">General Information</h2>
                            <hr/>

                            <div class="form-row row">
                                <div class="file-wrapper">
                                    <input type="file" class="form-control-file" id="file" name="image"
                                           accept="image/png, image/jpeg"/>
                                    <span class="placeholder" data-placeholder="Choose an image...">Choose an image...</span>
                                    <label for="file" class="button">Browse</label>
                                </div>

                                <div class="col-lg-4 mb-3">
                                    <label for="fnf">First name</label>
                                    <input type="text" class="form-control" id="fnf"
                                           th:field="*{firstName}"
                                           placeholder="First name" required>
                                </div>
                                <div class="col-lg-4 mb-3">
                                    <label for="lnf">Last name</label>
                                    <input type="text" class="form-control" id="lnf"
                                           th:field="*{lastName}"
                                           placeholder="Last name" required>
                                </div>
                                <div class="col-lg-4 mb-3">
                                    <label for="mnf">Middle name</label>
                                    <input type="text" class="form-control" id="mnf"
                                           th:field="*{middleName}" placeholder="Middle name">
                                </div>
                            </div>
                            <div class="form-row row">
                                <div class="col-lg-4 mb-3">
                                    <label for="bf">Birthday</label>
                                    <input id="bf" type="text" th:field="*{birthday}"
                                           placeholder="mm/dd/yyyy" class="form-control"/>
                                </div>
                                <div class="col-lg-4 mb-3">
                                    <label for="sp">Sexuality</label>
                                    <select th:field="*{sexuality}" id="sp" class="form-control">
                                        <option value="" disabled="disabled">Select a sexuality
                                        </option>
                                        <option value="Heterosexual" text="Heterosexual">
                                            Heterosexual
                                        </option>
                                        <option value="Homosexual" text="Homosexual">Homosexual
                                        </option>
                                        <option value="Bisexual" text="Bisexual">Bisexual</option>
                                        <option value="Other" text="Other">Other</option>
                                    </select>
                                </div>
                                <div class="col-lg-2 mb-3">
                                    <label for="sxp">Sex</label>
                                    <select th:field="*{sex}" id="sxp" class="form-control">
                                        <option value="" disabled="disabled">Select a sex</option>
                                        <option value="Male" text="Male">Male</option>
                                        <option value="Female" text="Female">Female</option>
                                        <option value="Other" text="Other">Other</option>
                                    </select>
                                </div>
                                <div class="col-lg-2 mb-3">
                                    <label for="mbpf">MBP</label>
                                    <input type="text" th:field="*{mbp}" placeholder="mbp" id="mbpf"
                                           class="form-control"/>
                                </div>
                            </div>
                            <div class="form-row row">
                                <div class="col mb-3">
                                    <label for="desf">Description</label>
                                    <textarea type="text" th:field="*{description}"
                                              placeholder="Description" class="form-control"
                                              id="desf"/>
                                </div>
                            </div>
                            <input type="hidden" th:field="*{id}"/>

                            <h2>Relationship</h2>
                            <hr/>

                            <div class="form-row row">
                                <div class="col-lg-4 mb-3">
                                    <label for="ymf">Year Met</label>
                                    <input type="text" th:field="*{yearMet}"
                                           placeholder="Enter Year" id="ymf" class="form-control"/>
                                </div>
                                <div class="col-lg-4 mb-3">
                                    <label for="statp">Status</label>
                                    <select th:field="*{status}" id="statp" class="form-control">
                                        <option value="" disabled="disabled">Select a status
                                        </option>
                                        <option value="Active" text="Active">Active</option>
                                        <option value="Inactive" text="Inactive">Inactive</option>
                                        <option value="HOLD" text="HOLD">HOLD</option>
                                    </select>
                                </div>
                                <div class="col-lg-4 mb-3">
                                    <label for="pmf">Relation</label>
                                    <input type="text" th:field="*{relationship}" placeholder=""
                                           id="pmf" class="form-control"/>
                                </div>
                            </div>

                            <h2>Basic Contact</h2>
                            <hr/>

                            <div class="form-row row">
                                <div class="col-lg-6 mb-3">
                                    <label for="pf">Phone Number</label>
                                    <input type="tel" th:field="*{phoneNumber}"
                                           placeholder="Enter phone number" id="pf"
                                           class="form-control"/>
                                </div>
                                <div class="col-lg-6 mb-3">
                                    <label for="emf">Email</label>
                                    <input type="email" th:field="*{email}"
                                           placeholder="Enter email" id="emf" class="form-control"/>
                                </div>
                            </div>

                            <div class="form-row row">
                                <div class="col-12">
                                    <button type="submit" class="btn btn-secondary">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane" id="contact" role="tabpanel"
                         aria-labelledby="contact-tab">
                        <h2 class="mt-0">All Contact</h2>
                        <hr/>

                        <div class="container">
                            <div class="card" th:each="platform : ${contactList}">
                                <div class="card-title">
                                    <h2 th:text="*{platform.title}"></h2>
                                </div>
                                <div class="card-body">
                                    <p th:text="*{platform.body}"></p>
                                </div>
                            </div>
                        </div>

                        <h2>New Contact</h2>
                        <hr/>

                        <form th:action="@{${contactAction}}" method="post" th:object="${contact}">
                            <div class="form-row row">
                                <div class="col-lg-6 mb-3">
                                    <label for="platf">Platform</label>
                                    <input type="text" th:field="*{title}" placeholder="Enter platform" class="form-control" id="platf"/>
                                </div>
                                <div class="col-lg-6 mb-3">
                                    <label for="usrf">Username</label>
                                    <input type="text" th:field="*{body}" placeholder="Enter Username" class="form-control" id="usrf"/>
                                </div>
                            </div>

                            <div class="form-row row mt-3">
                                <div class="col-12">
                                    <button type="submit" class="btn btn-secondary">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane" id="medical" role="tabpanel"
                         aria-labelledby="medical-tab">
                        <p>Placeholder2</p>
                    </div>
                    <div class="tab-pane" id="giftIdeas" role="tabpanel"
                         aria-labelledby="giftIdeas-tab">
                        <!--<div class="form-row row">
                            <div class="col mb-3">
                                <label for="gcf">Gifts Considering</label>
                                <textarea type="text" th:field="*{giftsConsidering}" placeholder=""
                                          class="form-control" id="gcf"/>
                            </div>
                        </div>-->
                    </div>
                    <div class="tab-pane" id="cScore" role="tabpanel" aria-labelledby="cScore-tab">
                        <div class="container-fluid">
                            <h2 class="mt-0">cScore Timeline</h2>
                            <hr/>

                            <div class="table-responsive">
                                <table class="table table-condensed table-sm">
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Value</th>
                                            <th>Momentum</th>
                                            <th>Note</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="point : ${timeline}">
                                            <td th:text="*{point.date}"></td>
                                            <td th:text="*{point.value}"></td>
                                            <td th:text="*{point.momentum}"></td>
                                            <td th:text="*{point.note}"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <h2>New cScore</h2>
                            <hr/>

                            <form th:action="@{${timelineAction}}" method="post" th:object="${score}">
                                <div class="form-row row">
                                    <div class="col-lg-4 mb-3">
                                        <label for="df">Date</label>
                                        <input type="text" th:field="*{date}" placeholder="mm/dd/yyyy" class="form-control" id="df"/>
                                    </div>
                                    <div class="col-lg-4 mb-3">
                                        <label for="valf">cScore Value</label>
                                        <input type="text" th:field="*{value}" placeholder="value" class="form-control" id="valf"/>
                                    </div>
                                    <div class="col-lg-4 mb-3">
                                        <label for="momf">Momentum</label>
                                        <input type="text" th:field="*{momentum}" placeholder="momentum" class="form-control" id="momf"/>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <label for="nf">Note</label>
                                    <textarea type="text" th:field="*{note}" placeholder="note" class="form-control" id="nf"/>
                                </div>

                                <div class="form-row row mt-3">
                                    <div class="col-12">
                                        <button type="submit" class="btn btn-secondary">Save</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<footer class="fixed-bottom">
    <div th:replace="assets :: flash"></div>
    <div class="scrollmenu">
        <a th:each="member : ${members}" th:href="@{|/RankStar/Members/${member.id}|}"
           th:text="${member.firstName} + ' ' + ${member.lastName}"></a>
    </div>
</footer>
<div th:replace="assets :: scripts"></div>
</body>
</html>